body {
  background: white no-repeat top center -webkit-gradient(radial, center top, 0, center top, 600, from(white), to(#dddddd));
  font-weight: 300;
  height: 100%;
  min-height: 100%;
  background-attachment: fixed;
}

h1 {
  padding-bottom: 0.3em;
}

.jumbotron {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  margin-top: 2em;
}

.jumbotron img {
  width: 100px;
}

.meetups {
  font-size: 1.25em;
  background: white;
  border-bottom: solid 5px #B9BEC4;
  padding: 5px 25px 0px 25px;
  min-height: 165px;
}

.meetups h2 {
  color: #dd9400;
}

.event-image {
  margin-top: 3%;
}

.footer {
  text-align: center;
  padding: 1em;
  background: #F1F1EF;
  border-bottom: solid 5px #B9BEC4;
  margin-top: 1em;
  font-size: 1.2em;
}

.header img {
  width: 100px;
}


@media (max-width: 500px) {
  .jumbotron img {
    width: 50px;
  }
}
