<html>
  <head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/codecraft.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Code Craft</h1>

        <p class="lead">We are a <a href="http://manifesto.softwarecraftsmanship.org/">software craftsmanship</a> meetup. We discuss, demonstrate and debate how to write well-structured, malleable software.</p>

        <p>While we respect and encourage lean agile methodolgies, we are here to discuss the craft of developing software, not managing the process around development.</p>
      </div>

      <div class="row">

        <div class="col-lg-6 meetups">
          <h2>Next Meetup</h2>

          Topic: Pairing on <a href="http://exercism.io">Exercism</a> katas in multiple languages
          <br/><a href="https://twitter.com/codecraftuk">Glasgow</a>, 3rd December 2013 at 6:30pm, in the <a href="https://www.google.co.uk/maps/preview#!q=cca%2C+glasgow&data=!1m4!1m3!1d2338!2d-4.265214!3d55.865611!4m15!2m14!1m13!1s0x4888442647985e59%3A0xcf5969b16b7a7d44!3m8!1m3!1d74834!2d-4.2324586!3d55.8554602!3m2!1i1440!2i802!4f13.1!4m2!3d55.865683!4d-4.265188">Centre for Contemporary Arts (CCA)</a>
          <br/>Contacts: <a href="https://twitter.com/garyfleming">Gary Fleming</a> &amp; <a href="https://twitter.com/joe_jag">Joe Wright</a>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-5 rules">
          <h2>Rules</h2>
          <ol>
            <li>Each event must be in a place that has craft beer.
          </ol>
        </div>

      </div>
    </div>
  </body>
</html>
