<footer>
    <div class="twitter-links">
        <a href="https://twitter.com/codecraftuk" target="_blank">CodeCraft</a>
        | <a href="https://twitter.com/AmelieCornelis" target="_blank">Amélie</a>
        | <a href="https://twitter.com/cazkirkhope" target="_blank">Caroline</a>
        | <a href="https://twitter.com/lost_semicolon" target="_blank">Ewa</a>
        | <a href="https://twitter.com/garyfleming" target="_blank">Gary</a>
        | <a href="https://twitter.com/joe_jag" target="_blank">Joe</a>
        | <a href="https://twitter.com/bigkevmcd" target="_blank">Kevin McDermott</a>
    </div>
    <div class="footer-links d-none d-sm-block">
        <a href="/code-of-conduct.html">Code of Conduct</a> |
        <a href="/previous-events.html">Previous Events</a> |
        <a href="/constitution">Constitution</a>
    </div>

    <div class="d-block d-sm-none">
        <div class="footer-links-mobile">
            <a href="/code-of-conduct.html">Code of Conduct</a>
            <a href="/previous-events.html">Previous Events</a>
            <a href="/constitution">Constitution</a>
        </div>
    </div>
</footer>
