    <div class="footer">
        <a href="https://twitter.com/codecraftuk">CodeCraft</a>
        | <a href="https://twitter.com/cazkirkhope">Caroline</a>
        | <a href="https://twitter.com/lost_semicolon">Ewa</a>
        | <a href="https://twitter.com/garyfleming">Gary</a>
        | <a href="https://twitter.com/joe_jag">Joe</a>
        | <a href="https://twitter.com/KeithDHar">Keith</a>
        <p>
            <a href="/code-of-conduct.html">Code of Conduct</a> |
            <a href="/previous-events.html">Previous Events</a> |
            <a href="/constitution">Constitution</a>
        </p>
    </div>