.home {
    .main-text {
        padding-top: 120px;
        padding-bottom: 2em;

        h1 {
            font-size: 52px;
            font-weight: 700;
            padding-bottom: 16px;
        }

        h2 {
            font-size: 24px;
            font-weight: 300;
            padding-bottom: 8px;
        }
    }

    .upcoming-events {
        margin-top: 120px;
        background: linear-gradient(180deg, rgba(0, 128, 221, 0.0891) 0%, rgba(196, 196, 196, 0.27) 99.77%);
        border-radius: 17px;

        h1 {
            padding-top: 32px;
            font-size: 32px;
            font-weight: 500;
        }
    }
}
