.event-ticket-button {
    text-transform: uppercase;
    color: white;
    border-radius: 32px;
    background: lighten($blue, 20%);
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}