$grey: #808080;

nav {
    background-color: white;

    img {
        height: 28px;
    }

    .navbar-brand {
        font-weight: 700;
        font-size: 28px;
        color: black;
    }

    .nav-link {
        font-size: 16px;
        font-weight: 600;
        margin-left: 5em;
        color: $grey;
    }
}
