<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@codecraftuk">
    <meta name="twitter:creator" content="@codecraftuk">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/{{ page.image }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/codecraftlogoclr.png">
    {% endif %}

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/codecraft.css">

    <link rel="icon" type="image/png" href="/images/codecraftlogoclr.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <div class="site">
      <div class="header">
        <h1 class="title"><img src="/images/codecraftlogoclr.png"/><a href="/">{{ site.name }}</a><img src="/images/codecraftlogoclr.png"/></h1>
      </div>

      {{ content }}

    <div class="footer">
      <a href="https://twitter.com/codecraftuk">CodeCraft</a>
      | <a href="https://twitter.com/cazkirkhope">Caroline</a>
      | <a href="https://twitter.com/TheMicrobioGirl">Ewa</a>
      | <a href="https://twitter.com/garyfleming">Gary</a>
      | <a href="https://twitter.com/joe_jag">Joe</a>
      | <a href="https://twitter.com/KeithDHar">Keith</a>
      <p>
      <a href="/code-of-conduct.html">Code of Conduct</a> |
      <a href="/previous-events.html">Previous Events</a> | <a href="/constitution">Constitution</a>
    </div>

    </div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55670018-1', 'auto');
        ga('send', 'pageview');
    </script>

      </body>
    </html>
